*{
    padding: 0;
    margin: 0;
    background: #50486B;
    color: white;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.container{
    width: 1400px;
    height: 880px;
    margin: 20px auto;
    border: 3px solid white;
    background:#18122B;
    border-radius: 20px;
    text-align: center;
   
}

.container a{
    color: #18122B;
}

.return{
    background: transparent;
    position: relative;
    left: -650px;
    top: 20px;
    
}



.return2{
    background: transparent;
    position: relative;
    left: -640px;
    top: 20px;
    
}

.contenedor2{
    background: #18122B;
}

.parrafo2{
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: -15px;
    background: #18122B;
}

.parrafo{
    margin-bottom: 10px;
    font-size: 20px;
    
}

.operaciones-text{
    margin-top: -100px;
}



.titulo{
    background: #18122B;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: -25px;
    
}

.parrafo{
    background: #18122B;
}

label{
    background: #18122B;
    font-size: 20px;
    
}

input{
    width: 200px;
    height: 20px;
    text-align: center;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 5px;
}

.btn1{
    width: 70px;
    height: 25px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid white;
    
}


.ver{
    display: none;
}

#zoneValuesU{
    background: #18122B;
    margin-top: 5px;

}


#zoneValuesU #input21{
    margin-top: 5px;
}

#zoneValuesU #btnSend{
    margin-top: 15px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid white;
}


#zoneValuesU label{
    margin-right: 20px;
    
}

#showValuesConU{
    background: #18122B;
    margin-top: 10px;
}

.botones{
    background: #18122B;
    
    
}

.uno, .dos, .tres, .cuatro{
    width: 120px;
    height: 25px;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 10px;
    border: 1px solid white;
}

#captureValuesConjunto{
    background: #18122B;
    margin-top: 15px;
}

#captureValuesConjunto #cantidadValores,#cantidadValores2,#cantidadValores3 {
    margin-left: 20px;
}

#captureValuesConjunto label{
    font-size: 20px;
}

#captureValuesConjunto button{
    width: 100px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 15px;
}

#zoneValues{
    background: #18122B;
    margin-top: 10px;
}

#zoneValues label{
    margin-right: 10px;
}

#zoneValues #btnSend{
    width: 80px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 10px;
}

#showCon{
    background: #18122B;
    margin-top: 10px;
}

#operations{
    background: #18122B;
    margin-top: 15px;
    
    
    
}



.contenedor2 label{
    font-size: 20px;
    
    
}

#showOp{
    background: #18122B;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    
    
   
}

.show{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid white;
    position: relative;
    top: -60px;
    right: -890px;
}

.show:hover{
    background: #860e7c;
    width: 140px;
}

.cntenedor3{
    width: 1000px;
    height: 500px;
    background: #18122B;
    margin: 50px auto;
    border-radius: 20px;
    border: 3px solid white;
    
}

.titulo2{
    background: #18122B;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}



